.header {
    margin-block: 100rem 0;
    &-nav {
        max-width: 600px;
        width: 100%;
        margin-inline: auto;
        padding: 10rem 5rem;
    }

    .list {
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        .list-item {
            text-align: center;
            width: 100%;
            button {
                font-size: $small-fz;
                font-weight: 500;
                padding: 20rem 40rem;
                
            }
            &.active {
                background-color: $active-dark;

                button {
                    color: $white;
                    background-color: $active-dark;
                }
            }
        }
    }
}