@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$primary-ff: 'Poppins', sans-serif;


$small-fz: 20rem;
$medium-fz: 40rem;
$big-fz: 60rem;
$regular-fz: 24rem;



$col-6: 2;


$red: #ff686b;
$green: #84dcc6;
$black: #161a1d;
$blue: #003049;
$white: #ffffff;
$active-dark: #0b090a;